
/* Auth Styling */
.authStyling{
    width: 60% ;
    margin: 5em 20em 5em 17em
}
.captcha{
    width: 40%;
}
.userImage{
    width: 9%;
}
.nothing-added-yet{
    text-align: center;
    margin: 15% 30%;
    color: rgb(70, 66, 66) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background: rgb(165, 243, 165);
    border: 2px solid green;
    box-shadow: 2px 3px;
    cursor: default
}
.worldcerts-button{
    background-color: lightgreen !important ;
    color: #0000008c !important ;
    padding: 0.5em 3em !important;
    font-size: 12px !important;
    font-weight: bold !important
}
.cursor-pointer{
    cursor: pointer !important;
}
.cursor-default{
    cursor : default !important;
}
.close-button{
    float : right ;
     width: 3% ;
      cursor: pointer
}

@media (max-width:320px)  { 
    .authStyling{
        width: 100% !important;
        margin: 0em !important
    
    }    
    .captcha{
        width: 20% !important;
    }
    .userImage{
        width: 20% !important
    }
 }
@media (max-width:480px)  { 
    .authStyling{
        width: 100% !important;
        margin: 0em !important
    } 
    .captcha{
        width: 30% !important;
    }
    .userImage{
        width: 30% !important;
    }
}
@media (max-width:600px)  { 
 

}
