
/* Auth Styling */
.authStyling{
    width: 60% ;
    margin: 5em 20em 5em 17em
}
.captcha{
    width: 40%;
}
.userImage{
    width: 9%;
}

.nothing-added-yet{
    text-align: center;
    margin: 15% 30%;
    /* color: rgb(70, 66, 66) ; */
    color:rgb(113, 112, 117);
    text-shadow: -1px 1px 0 #000;
                         
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-image: linear-gradient(to right, #1CD8D2 0%, #93EDC7 51%, #1CD8D2 100%);
    border: 2px solid rgb(187, 185, 189);
    box-shadow: 2px 2px rgb(146, 69, 219);
    cursor: default
}


/* .btn-grad:hover { background-position: right center; } */
.worldcerts-button{
    cursor: pointer;
    line-height: 1.5;
    border-radius: .25rem;
    box-shadow: none;
    color:#ffff;
    border: 1px transparent;
    transition: all 250ms cubic-bezier(.27,.01,.38,1.06);
    padding: 8px 16px  !important;
    font-size: 12px !important;
    font-weight: bold !important;
    background-image: linear-gradient(to left, rgb(4, 221, 138), rgb(18, 178, 165));
}
.worldcerts-button:hover{
    background-image: linear-gradient(to right, rgb(4, 221, 138), rgb(18, 178, 165));
}

.react-tel-input input[type=text], .react-tel-input input[type=tel]{
    width: 100% !important
}
.cursor-pointer{
    cursor: pointer !important;
}
.cursor-default{
    cursor : default !important;
}
.close-button{
    float : right ;
     width: 3% ;
      cursor: pointer
}
.loader{
    height: 50px;
}
.loader-paddingLeft{
    padding-left: 1em;
}
.verifierApp{
    margin: 5em 20em 5em 17em;

}
.verifierStyling{
    background: rgb(25,22,71);
    background: linear-gradient(90deg, rgba(25,22,71,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);

}
.verifierContainer{
    padding:10em 10em;
    height: 100vh;
}
@media (max-width:320px)  { 
    .authStyling{
        width: 100% !important;
        margin: 0em !important
    
    }    
    .captcha{
        width: 20% !important;
    }
    .userImage{
        width: 20% !important
    }
    .nothing-added-yet{
    margin: 25% 5%;

    }
 }
@media (max-width:480px)  { 
    .authStyling{
        width: 100% !important;
        margin: 0em !important
    } 
    .captcha{
        width: 30% !important;
    }
    .userImage{
        width: 30% !important;
    }
    .nothing-added-yet{
        margin: 25% 5%;
    
        }
}
@media (max-width:600px)  { 
 

}
